h1 {
    color: blue;
    margin-bottom: 0;
}

h2 {
    color: blue;
    font-style: italic;
    margin-top: 5px;
    opacity: 0.5;
}

fieldset {
    width: 750px;
}
#personal-data {
    height: 140px;
    margin-left: 50px;
}

#personal-data input {
    width: 350px;
    margin-bottom: 7px;
}

#books-data {
    height: 40px;
    margin-left: 50px;
}

#books {
    width: 320px;
}

#quantity {
    width: 150px;
}
